<script src="https://cdn.tiny.cloud/1/xzmeuzojpn81uz66dyexlm02jfmh3h3mn02a03cxk5ew37lm/tinymce/5/tinymce.min.js"></script> <div class="wrap">
  <div class="left">
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Incident Details</h3>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Details</th>
              </tr>
              <tr *ngFor="let item of incident | keyvalue: sortNull">
                <td>
                  <span contenteditable="false">{{item.key}}</span>
                </td>
                <td>
                  <span contenteditable="true" 
                  (keydown.enter)="updateList(item.key, item.value, $event)"
                  (blur)="updateList(item.key, item.value, $event)">{{item.value}}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="right">
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Summary</h3>
        <div class="card-body">
          <div class="form-group">
            <p style="width: 600px; align-content: left;" *ngIf="summaryExists" [innerHTML]="incident.SUMMARY"></p>
            <editor *ngIf="!summaryExists"
              apiKey="xzmeuzojpn81uz66dyexlm02jfmh3h3mn02a03cxk5ew37lm"
              [init]="{
                height: 600,
                paste_retain_style_properties: 'all'
              }"
              [(ngModel)]="summary">
            </editor>
          </div>  
        </div>
    </div>
  </div>
  <!-- <div class="column right">
      <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
  </div> -->
