<h1>Hi {{ currentUser.firstName }}!</h1>
<h3>Your Profile</h3>

<div class="left">
  <div id="table" class="table-bordered">
    <table
      class="table table-bordered table-responsive-md table-striped text-center"
    >
      <tr>
        <th class="text-center">Category</th>
        <th class="text-center">Your Info</th>
      </tr>
      <tr *ngFor="let item of currentUser | keyvalue: sortNull">
        <td *ngIf="displayItem(item.key)">
          <span>{{ item.key }}</span>
        </td>
        <td *ngIf="displayItem(item.key)">
          <span>{{ item.value }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div style="text-align: center">
  <h3>All registered users:</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user.username }} ({{ user.firstName }} {{ user.lastName }}) -
      <a
        (click)="deleteUser(user._id)"
        class="text-danger"
        style="cursor:pointer"
        >Delete</a
      >
    </li>
  </ul>
</div>
