<div id="table" class="table-editable">
    <table class="table table-bordered table-responsive-md table-striped text-center" id="myTable">
      <tr>
        <th class="text-center">Remove Supply</th>
        <th class="text-center">Supply Name</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Remaining</th>
        <th class="text-center">Units</th>
        <th class="text-center">Add</th>
        <th class="text-center">Remove</th>
      </tr>
      <tr *ngFor="let supply of supplies; let i = index" [attr.id]="supply.SUPPLY_NAME">
        <td><button type="button" id="remove" (click)="deleteRow(supply)" class="btn btn-outline-danger">-</button></td>
        <td contenteditable="false">
          <span>{{supply.SUPPLY_NAME}}</span>
        </td>
        <td  contenteditable="true"
        class="example-element-row"
        (keyup)="changeValue($event)"
        (keydown.enter)="$event.preventDefault()"
        (blur)="updateCount(supply.SUPPLY_NAME, $event)">
            <span>{{supply.SUPPLY_QUANTITY}}</span>
        </td>
        <td contenteditable="false" class="example-element-row">
            <!-- {{remaining(supply)}} -->
        </td>
        <td
          contenteditable="false"
          class="example-element-row">
            <span>{{supply.SUPPLY_UNIT}}</span>
        </td>
        <td><button type="button" (click)="clickAdd(supply, i)" class="btn btn-outline-dark btn-height">+</button></td>
        <td><button type="button" (click)="clickRemove(supply, i)"class="btn btn-outline-warning btn-height">-</button></td>
      </tr>
      <tr *ngIf="newSup">
        <td><button type="button" id="remove" (click)="unNewSupply()" class="btn btn-outline-danger">-</button></td>
        <td class="example-element-row">
          <form [formGroup] = "submitForm" autocomplete="off" novalidate (ngSubmit)="onSubmitIncident()">
            <mat-form-field>
                <mat-select [(value)]="selected" formControlName="incidentSupply">
                  <mat-option *ngFor="let option of supplyList" [value]="option.SUPPLY_NAME">
                    {{option.SUPPLY_NAME}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </form>
        </td>
        <td
          contenteditable="true"
          class="example-element-row"
          (keyup)="changeValue($event)"
          (keydown.enter)="$event.preventDefault()">
            <span id="newSupply">0</span>
        </td>
        <td class="example-element-row">
          <!-- {{remaining('selected')}} -->
        </td>
        <td class="example-element-row">
            <span id="newSupplyUnit">{{returnUnit()}}</span>
        </td>
        <td><button type="button" (click)="clickAddd()" class="btn btn-outline-dark">+</button></td>
        <td><button type="button" (click)="clickRemovee()"class="btn btn-outline-warning">-</button></td>
      </tr>
    </table>
    <button type="button" (click)="newSupply()" class="btn btn-outline-primary btn-height">Add a Supply</button>
    <button type="button" (click)="submitSupply()" class="btn btn-outline-success btn-height">Update Supplies</button>
    <br>
  </div>
