<!-- <button (click)="openCommentText(comment)">Answer</button>
<div *ngIf="comment.isOpen">
  <textarea [(ngModel)]="text" cols="80" rows="7"></textarea>
  <br />
  <button (click)="addComment(comment)">OK</button>
</div>
<p [comments]="comment.answers"></p> -->

<!-- Post Comment Box: Start -->
<ul class="list-group">
  <li class="list-group-item">
    <!-- Post Comment Button -->
    <button
      type="button"
      name="button"
      class="btn btn-sm btn-danger"
      (click)="openCommentText(comment)"
      [disabled]="newComment.indexOf(incident._id) > -1"
    >
      Post Comment
    </button>
    <br />
    <br />
    <div *ngIf="newComment.indexOf(incident._id) > -1">
      <!-- Form: Comment Form Start -->
      <form [formGroup]="commentForm">
        <!-- Textarea Input -->
        <textarea
          name="comment"
          rows="10"
          cols="30"
          class="form-control"
          formControlName="comment"
        ></textarea>
        <!-- Validation -->
        <div
          [ngClass]="{
            'has-success':
              !commentForm.controls.comment.errors &&
              commentForm.controls.comment.dirty,
            'has-error':
              commentForm.controls.comment.dirty &&
              commentForm.controls.comment.errors
          }"
        >
          <ul class="help-block">
            <li
              *ngIf="
                commentForm.controls.comment.errors?.required &&
                commentForm.controls.comment.dirty
              "
            >
              This field is required.
            </li>
            <li
              *ngIf="
                (commentForm.controls.comment.errors?.maxlength &&
                  commentForm.controls.comment.dirty) ||
                (commentForm.controls.comment.errors?.minlength &&
                  commentForm.controls.comment.dirty)
              "
            >
              Comment must be at least 1 character but no more than 200.
            </li>
          </ul>
        </div>
        <!-- Post Button -->
        <button
          [disabled]="!commentForm.valid || processing"
          type="submit"
          name="button"
          class="btn btn-sm btn-info"
          (click)="postComment(incident._id)"
        >
          Post
        </button>
        <!-- Cancel Button -->
        <button
          [disabled]="processing"
          type="button"
          name="button"
          class="btn btn-sm btn-danger"
          (click)="cancelSubmission(incident._id)"
        >
          Cancel
        </button>
      </form>
      <!-- Form: Comment Form End -->
    </div>

    <!-- Show Comments -->
  </li>

  <li
    *ngIf="
      enabledComments.indexOf(incident._id) === -1 &&
      incident.comments.length > 0
    "
    class="list-group-item"
  >
    <span (click)="expand(incident._id)">
      Show comments&nbsp;&nbsp;
      <div class="glyphicon glyphicon-comment"></div>
    </span>
  </li>

  <!-- Hide Comments -->
  <li
    *ngIf="enabledComments.indexOf(incident._id) > -1"
    class="list-group-item"
  >
    <span (click)="collapse(incident._id)">
      Hide Comments&nbsp;&nbsp;
      <div class="glyphicon glyphicon-comment"></div>
    </span>
  </li>

  <!-- Comment -->
  <div *ngIf="enabledComments.indexOf(incident._id) > -1">
    <li *ngFor="let comment of incident.comments" class="list-group-item">
      <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
    </li>
  </div>
</ul>
<!-- Post Comment Box: End -->
