<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="home">NYC OEM (Development Site)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/archive" routerLinkActive="active">Past Incidents</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/logistics" routerLinkActive="active">Logistics Data</a>
      </li>
    </ul>
    <span class="navbar-text ml-auto">
<!--       {{date | date:'full'}} -->
      <!-- {{ day() + ', ' + monthDateYear() + ' at ' + showTime()}} -->
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
