<div style="text-align:left">
  <button type="button" (click)="onClick()" class="btn btn-primary btn-sm">
    Submit a comment
  </button>
</div>

<br />

<div style="text-align:left" *ngIf="!hideForm">
  <form [formGroup]="submitComment" (ngSubmit)="onSubmitComment()">
    <div class="input1">
      <mat-form-field appearance="standard">
        <mat-label>Comment</mat-label>
        <input matInput placeholder="Input Comment" formControlName="comment" />
      </mat-form-field>
    </div>
    <div class="input2">
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Input Username"
          formControlName="commentator"
        />
      </mat-form-field>
    </div>
    <br />
    <button style="margin-bottom: 10px" type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>

<app-incident-comments-list
  [dataSource]="dataSource"
  [incident]="element"
  [comment]="comment"
  (closeF)="closeForm()"
  (selectComment)="commentSelect($event)"
  (deleteComment)="deleteComment($event)"
>
</app-incident-comments-list>
