<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Status</th>
            <th>Archive</th>
            <!-- <th>Age</th>
            <th>Start date</th>
            <th>Salary</th> -->
        </tr>
    </thead>
    <!-- <tbody>
        <tr>
          <td><input type="text" id="name" ></td>
          <td>Test</td>
          <td>Test</td>
          <button style="margin-left: 10px; margin-top: 5px" type="button" (click)="onDelete(incident)" class="btn btn-danger">Delete</button>
        </tr>
    </tbody> -->
    <tbody>
        <tr *ngFor="let incident of incidents">
          <td>{{incident.title}}</td>
          <td>{{incident.location}}</td>
          <td>{{incident.status}}</td>
          <button style="margin-left: 10px; margin-top: 5px" type="button" (click)="onArchive(incident)"
          class="btn btn-danger">Archive</button>
        </tr>
    </tbody>
    <!-- <tfoot>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Status</th>
             <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot> -->
</table>
