<div style="text-align:center">
  <button type="button" style="margin-top:20px; margin-bottom: 30px"
        (click)="onClick()" class="btn btn-primary btn-lg">SUBMIT AN EMERGENCY!</button>
</div>
  <div style="margin-left: 20px" *ngIf="!hideForm">
    <h2>New Emergency</h2>
    <form [formGroup] = "submitForm" autocomplete="off" novalidate (ngSubmit)="onSubmitIncident()">
    <mat-card-content>
      <div class="input1">
        <mat-form-field appearance="legacy">
          <mat-label>Incident Name</mat-label>
          <input matInput type="text" placeholder="Input Incident Name"
          formControlName="incidentName" id="incidentName" required >
          <mat-error *ngIf="hasError('incidentName', 'required')">Incident Name is Required</mat-error>
        </mat-form-field>
      </div>
      <div class="input2">
          <mat-form-field appearance="legacy">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Input Location" formControlName="location">
            <mat-error *ngIf="hasError('location', 'required')">Incident Name is Required</mat-error>
          </mat-form-field>
      </div>
      <div class="input 3-1">
        <mat-form-field>
          <mat-select placeholder="Select Status" formControlName="status"
          (selectionChange)="statusChangeAction()">
            <mat-option *ngFor="let status of statusList" [value]="status.statusName">
              {{status.statusName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 3-2">
        <mat-form-field>
          <mat-select matInput placeholder="Select Prognosis" formControlName="prognosis">
            <mat-option *ngFor="let prognosis of prognosisList"
              [value]="prognosis">
              {{prognosis}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 4-1">
        <mat-form-field>
          <mat-select matInput placeholder="Select Incident Type" formControlName="incidentType"
          (selectionChange)="incidentTypeChangeAction()">
            <mat-option *ngFor="let incidentType of incidentTypeList" [value]='incidentType.incidentTypeName'>
              {{incidentType.incidentTypeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 4-2">
        <mat-form-field>
          <mat-select matInput placeholder="Select Incident Description" formControlName="incidentDescription">
            <mat-option *ngFor="let incidentDescription of incidentDescriptionList" [value]="incidentDescription">
              {{incidentDescription}}
          </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 5">
        <mat-form-field>
          <mat-select matInput placeholder="Select Leading Agency" formControlName="leadingAgency">
            <mat-option *ngFor="let leadingAgency of leadingAgencyList" [value]="leadingAgency">
              {{leadingAgency}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 6">
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Input Supporting Agency" formControlName="supportingAgency">
        </mat-form-field>
      </div>
      <!--<div class="input 4-2">
        <mat-form-field>
          <mat-select matInput placeholder="Placeholder" formControlName="incidentDescription">
            <mat-option *ngFor="let incidentDescription of incidentDescriptionList"
              value]="incidentDescription">
              {{incidentDescription}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>-->
      <!-- <div class="input 6" style="margin-right: 2000px;">
        <app-incident-map
          [incident] = "model"
          (emitLocation) = setLocation($event)>
        </app-incident-map>
      </div> -->
      <!--<button style="margin-bottom: 10px" type="submit"
        class="btn btn-primary">Submit
      </button>-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!submitForm.valid">Submit</button>
    </mat-card-actions>
    </form>
  </div>

  <app-incident-list  (closeF)="closeForm()"
                      (archiveIncident)="archiveIncident($event)"
                      (selectIncident)="incidentSelect($event)"
                      (editIncident)="editIncident($event)"
                      (updateSum)="updateSummary($event)">
  </app-incident-list>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEigp32HEupcc9Jh209-DqzAqGPGlCfqU&libraries=places&callback=initMap" async defer></script>


  <!--<form #form="ngForm" (ngSubmit)="onSubmitIncident()">
    <div class = "form-group">
      <mat-form-field appearance="standard">
        <mat-label>Incident Name</mat-label>
        <input matInput placeholder="Placeholder" name="INCIDENT_NAME" [(ngModel)]="model.INCIDENT_NAME">
      </mat-form-field>
    </div>
  </form>-->

  <!--https://angular.io/api/common/AsyncPipe-->

  <!--https://stackblitz.com/edit/angular-material-mat-select-dynamic-data-binding-in-angular?file=app%2Fselect-value-binding-example.ts-->
