<div style="text-align:center">
  <button type="button" style="margin-top:20px; margin-bottom: 30px"
        (click)="onClick()" class="btn btn-primary btn-lg">SUBMIT AN EMERGENCY!</button>
</div>
  <div style="margin-left: 20px" *ngIf="!hideForm">
    <h2>New Emergency</h2>
    <form [formGroup] = "submitForm" (ngSubmit)="onSubmitIncident()">
      <div class="input1">
        <mat-form-field appearance="standard">
          <mat-label>Incident Name</mat-label>
          <input matInput placeholder="Input Incident Name" formControlName="incidentName">
        </mat-form-field>
      </div>
      <div class="input2">
          <mat-form-field appearance="standard">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Input Location" formControlName="location">
          </mat-form-field>
      </div>
      <div class="input 3-1">
        <mat-form-field>
          <mat-select placeholder="Placeholder" formControlName="status"
          (selectionChange)="statusChangeAction()">
            <mat-option *ngFor="let status of statusList" [value]="status.statusName">
              {{status.statusName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 3-2">
        <mat-form-field>
          <mat-select matInput placeholder="Placeholder" formControlName="prognosis">
            <mat-option *ngFor="let prognosis of prognosisList"
                                [value]="prognosis">
              {{prognosis}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input 4" style="margin-right: 2000px;">
        <app-incident-map
          [incident] = "model"
          (emitLocation) = setLocation($event)>
        </app-incident-map>
      </div>
      <br>
      <button style="margin-bottom: 10px" type="submit"
        class="btn btn-primary">Submit
      </button>
    </form>
    <form *ngIf="updateForm" #form="ngForm" (ngSubmit)="onUpdateIncident()">
        <div class="form-group">
          <label for="INCIDENT_NAME">Title</label>
          <input type="text" class="form-control" id="INCIDENT_NAME"
                 required
                 [(ngModel)]="model.INCIDENT_NAME" name="INCIDENT_NAME">
        </div>
        <div class="form-group">
          <label for="LOCATION_NAME">Location</label>
          <input type="text" class="form-control" id="LOCATION_NAME"
                 required
                 [(ngModel)]="model.LOCATION_NAME" name="LOCATION_NAME">
        </div>
        <div class="form-group">
          <label for="STATUS">Status</label>
          <input type="text" class="form-control" id="STATUS"
                 required
                 [(ngModel)]="model.STATUS" name="STATUS">
        </div>
        <button style="margin-bottom: 10px" type="submit"
          class="btn btn-success exp-btn">Update
        </button>

      </form>
  </div>

  <app-incident-list
    (editIncident)="editIncident($event)"
    (sendDataSource)="updateDataSource($event)">
  </app-incident-list>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEigp32HEupcc9Jh209-DqzAqGPGlCfqU&libraries=places&callback=initMap" async defer></script>
