<!-- <label>Enter address</label> -->
<div class="container">
  <input
    type="text"
    class="form-control"
    (keydown.enter)="$event.preventDefault()"
    placeholder="Search Nearest Location"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    type="text"
    #search
  />
  <br />
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"
    ></agm-marker>
  </agm-map>
  <br />
  <h5>Address: {{ address }}</h5>
  <div>Latitude: {{ latitude }}</div>
  <div>Longitude: {{ longitude }}</div>
  <br />
  <div *ngIf="loadSubmitButton">
    <button
      type="button"
      (click)="emitAddress()"
      class="btn btn-success exp-btn"
    >
      Submit Updated Address
    </button>
  </div>
  <br />
</div>
